#find-users-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #F9F9F9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 15px;
}
#find-user-input {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 6px;
    text-align: center;

}
#listed-users-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.listed-user {
    box-sizing: border-box;
    width: calc(33.33% - 10px);
    max-width: 120px;
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s linear;
}
.listed-user:hover{
    background: rgba(0, 0, 0, 0.105);
    transform: scale(1.05);
}
.listed-user img {
    width: 60%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
}
.listed-user h3 {
    margin-bottom: 8px;
    font-size: 16px;
    font-family: "Montserrat", serif;
    font-weight: 500;
}
.listed-btn {
    padding: 4px;
    font-size: 10px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    height: 24px;
}
#cancel-friend-list-btn, #add-friend-list-btn, .already-friends-div {
    font-family: "Roboto", serif;
    font-size: 0.8rem;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cancel-friend-list-btn {
    background-color: #E74C3C;
    color: #fff;
    border-radius: 4px;
    width: 100%;
    padding: 4px;
    border:none;
    height: 29px;
    font-size: 0.7rem;
    cursor: pointer;
    
}
#add-friend-list-btn {
    background-color: #3498DB;
    color: #fff;
    width: 100%;
    padding: 4px;
    border-radius: 4px;
    outline: none;
    border:none;
    height: 29px;
    cursor: pointer;

}
.already-friends-div {
    background-color: #2ECC71;
    color: #fff;
    padding: 4px;
    border-radius: 4px;
}
@media (min-width: 768px) {
    .listed-user {
        width: 48%;
    }
}