#root:has(#community-page){

}

#community-page{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.c-page-left{
   

}
.c-page-right{


}

/* Left Side --------------------------------- */
.c-page-left{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid rgba(0, 0, 0, 0.165);
    user-select: none;
}

.c-page-left > h2{
    font-family: "Roboto", serif;
    padding: 25px 0px;
}

/* admin tools */
.c-page-admin-div{
    position: absolute;
    top: 5px;
    left: 5px;
}
.c-page-non-admin-div{
    position: absolute;
    top: 5px;
    right: 5px;
}
.c-page-admin-div > button, .c-page-non-admin-div > button{
    padding: 5px 10px;
    font-family: "Montserrat", serif;
    cursor: pointer;
}
.c-page-left  > img{
    width: 200px;
    aspect-ratio: 1 / 1;
    border-radius: 100px;
    transition: width 0.15s linear;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.c-page-left  > p{
    padding: 20px 0px;
    font-family: "Montserrat", serif;
    font-size: 1.3rem;
}
.c-page-themes-div{
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 7px;
    justify-content: center;
    width: 100%;

}
.c-page-themes-div span{
    border: 1px solid rgba(0, 0, 0, 0.191);
    border-radius: 20px;
    padding: 3px 10px;
    font-family: "Roboto", serif;
    font-size: 0.9rem;
    background-color: rgba(131, 131, 224, 0.131);

}
.c-page-left > h4{
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 20px;
    padding-bottom: 3px;
    font-size: 1.3rem;
}
.c-page-members-div{
    width: 90%;
    height: 400px;
    border: 1px solid rgba(0, 0, 0, 0.214);
    border-radius: 20px;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.c-page-member-square{
    position: relative;
    width: 120px;
    height: 120px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    cursor: pointer;
    transition: all 0.12s linear;
}
.c-page-member-square:hover{
    background-color: rgba(0, 0, 0, 0.058);
    transform: scale(1.06);
}
.c-page-member-square:active{
    transform: scale(1);
    background-color: rgba(255, 255, 255, 0.058);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;

}
.c-page-member-square > span{
    position: absolute;
    border: 1px solid rgba(0, 0, 0, 0.15);
    padding: 3px 5px;
    top: -10px;
    left: -20px;
    transform: rotate(-50deg);
    background-color: rgba(0, 0, 255, 0.145);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.9rem;
    backdrop-filter: blur(10px);
}


.c-page-member-square > p{
    font-family: "Roboto", serif;
    font-size: 1.3rem;
}
.c-page-member-square > img{
    width: 80px;
    height: 80px;
    border-radius: 100px;
    -webkit-user-drag: none;
}

@media screen and (max-width: 900px) {
    .c-page-left  > img{
        width: 120px;
    }
}

/* Right Side --------------------------------- */

.c-page-right{
    display: flex;
    flex-direction: column;
}

.thread-input-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 4%;
    padding-bottom: 2%;

    position: relative;

}
.updates-container{
    width: 100%;
    display: flex;
    flex-direction: column;

    align-items: center;
}
.updates-input-container{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.updates-input-container > p{
    color: black;
}
.updates-container textarea{
    border-radius: 20px;
    resize: none;
    height: 100px;
    padding: 15px;
    font-size: 1.2rem;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;

}
.updates-container button{
    margin-top: 5px;
    padding: 5px;
    font-family: "Roboto", serif;
    font-size: 1.2rem;
    user-select: none;
    cursor: pointer;
}
.not-member-thread{
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
}
.not-member-thread span{
    font-family: "Roboto", serif;
    background-color: black;
    color: rgba(255, 255, 255, 0.76);
    margin-bottom: 50px;
    padding: 10px 30px;
    border-radius: 20px;
    opacity: 0.8;
    user-select: none;
    cursor: not-allowed;
}
.disable-input-thread{
    pointer-events: none;
    user-select: none;
    filter: blur(3px);
    cursor: not-allowed;
}
.thread-input-container .updates-input-container > p{
    font-family: "Roboto";
}

/* content */
.thread-content-container{
    padding:0% 5%;
    width: 100%;
    height: 100%;
}

.thread-content{
    
}
.user-profile-update-div{
    position: relative;
}

.author-div{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0px;
    left: 0px;
    cursor: pointer;
    transition: all 0.15s linear;
    border-radius:10px;
    gap: 5px;
    padding: 5px;
    
}
.author-div:hover{
    transform: scale(1.1);
    background-color: rgba(0, 0, 0, 0.088);
}
.author-div p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 0.8rem;
}
.author-div img{
    width: 30px;
    height: 30px;
    border-radius: 100px;
}
.thread-content .user-profile-update-div > h4{

    padding-left: 70px;
}
.up-comment-div:has(.up-comment-comm){
    background-color: rgba(0, 0, 0, 0.096);

}
.up-comment-comm{
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 10fr;
    align-items: center;
}
.up-comment-comm > div{
    display: flex;
    gap:5px;
    justify-content: center;
    align-items: center;
    color: black;
}
.up-comment-comm > div > p{
    font-family: "Arial", serif;
    color: black;
}
.up-comment-comm > div > span{
    font-family: "Roboto", serif;
    font-size: 0.8rem;
}
.up-comment-comm > div >img{
    width: 50px;
    height: 50px;
    border-radius: 100px;
    cursor: pointer;
    transition: 0.2s linear all;
}
.up-comment-comm > div >img:hover{
    transform: scale(1.2);
    background-color: rgba(0, 0, 255, 0.072);
}
.up-comment-comm > p{

    text-align: center;
    margin-right: 50px;
    color: black;
}
.up-comment-comm > .up-comment-btn-div{
   gap: 0;
}
.up-comment-comm .up-comment-btn-div button{
    width: 100%;
    
}

#edited-up-comment{
    position: absolute;
    bottom: 0;
    right: 5px;
    font-size: 0.7rem;
}


/* Community chat */
#community-chat{

}