/* 
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif; 
*/


#profile-page{
    display: grid;
    grid-template-columns: 10fr 3fr;
    font-family: 'Montserrat', serif;
   
}

.profile-right-side{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    padding: 50px 0px;
    position: relative;
    min-width: 350px;
    max-width: 450px;
    background-color: #00171f;
    width: 100%;
    border-bottom-left-radius: 20px ;
}

.profile-left-side{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0px;
}

/* Right side */

#main-profile-image{
    width: 150px;
    aspect-ratio: 1 / 1;
    border-radius: 100px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

}

.profile-edit-div{
    position: absolute;
    display: flex;

    justify-content: space-evenly;
    padding: 10px 5px;
    width: 100%;
    top: 0;
    left: 0;
}
.profile-right-side > h3{
    font-size: 2rem;
    color: white;
}
.profile-edit-div button{
    padding: 5px;
    font-family: "Montserrat";
    cursor: pointer;
    border-radius: 5px;
    background-color: #034078;
    color: white;
    border: 0.5px solid white;
    position: relative;
    transition: all 0.3s linear;
    font-size: 0.8rem;
    white-space: nowrap;

}
.profile-edit-div button:hover{
    background-color: rgba(81, 81, 179, 0.12);
}
#friend-request-badge{
    position: absolute;
    border: 1px solid rgba(0, 0, 0, 0.118);
    border-radius: 100%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    left: -17px;
    top: -15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgba(255, 255, 255, 0.464);
    backdrop-filter: blur(3px);
    color: rgb(0, 0, 0);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    z-index: 10;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
#friend-request-dropdown{
   position: absolute;
   top: 38px;
   left: -14%;
   border-radius: 0px 0px 10px 10px;
   border: 1px solid rgba(0, 0, 0, 0.172);
   background-color: rgba(255, 255, 255, 0.24);
   backdrop-filter: blur(12px);
   width: 60%;
   box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
   padding: 10px;

}
.fr-dropdown-element{
    display: flex;
    padding: 10px 5px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.173);
}

.fr-dropdown-element:last-child{
    border: none;
}
.fr-dropdown-element img{
    width: 50px;
    height: 50px;
    border-radius: 100px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.fr-dropdown-element p{
    color: rgb(1, 1, 1);
    font-size: 1.2rem;
    text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.457);
    font-family: Arial, Helvetica, sans-serif;
}
.dropdown-btn-div{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.dropdown-btn-div button{
    cursor: pointer;
    transition: all 0.3s linear;
  
}
.dropdown-btn-div button:hover{
    transform: scale(1.1);
    filter:brightness(2)
}
.dropdown-btn-div button:nth-child(1){
    background-color: rgba(74, 137, 74, 0.595);
    color: black;
}
.dropdown-btn-div button:nth-child(2){
    background-color: rgba(170, 71, 71, 0.516);
    color: black;

}
@media screen and (max-width: 900px) {
    .fr-dropdown-element{
        flex-direction: column;
    }
    .dropdown-btn-div{
    flex-direction: row;     
    }
}
/* Left side */
.profile-left-side .user-profile-update-div{
    width: 80%;
}
.profile-left-side > p{
    font-size: 1.4rem;
    user-select: none;
}

/* ----------- */

.invalid-length{
    color: rgba(255, 0, 0, 0.583);
    border: 1px solid rgba(255, 0, 0, 0.516) !important;
}

/* Profile friend page */
.friend-list-container h4{
    padding: 10px 0px;
    font-size: 1.3rem;
    color: white;
}
.friend-list-container h4 span{
    color: rgb(190, 190, 190);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.9rem;

}
.friend-list-container > input{
    width: 70%;
    text-align: center;
    font-size: 1.3rem;
    padding: 5px 0px;
    border: 0;
    border-top:1px solid rgba(0, 0, 0, 0.084);
    border-bottom:1px solid rgba(0, 0, 0, 0.084) ;
    margin-bottom: 1px;
    border-radius: 20px;
}
.friend-list-container > input:focus{
    outline: 1px solid rgba(0, 0, 255, 0.422);
}
.friend-list-container{
    border-top: 1px solid rgba(255, 255, 255, 0.275);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
   
    
}
.friend-profile-div{
    border-bottom: 1px solid rgba(0, 0, 0, 0.275);
    width: 100%;
    padding: 10px 10px;

    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: start;
    gap: 50px;
    min-height: 180px;
    max-height: 400px;
    overflow-y: auto;
    overflow-x:hidden;
    
}
.friend-profile-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    position: relative;
    width: 120px;
    gap: 10px;
    cursor: pointer;
    padding: 5px;
    transition: all 0.14s linear;
    border-radius: 10px;
    position: relative;
    background-color: white;
    
}
.friend-profile-card:hover, .friend-card-selected{
    transform: scale(1.1);
    background-color: rgba(255, 255, 255, 0.877);
}
.friend-profile-card p{
    pointer-events: none;
    font-size: 1rem;
    white-space: nowrap;
 
}
.friend-profile-card img{

    border-radius: 100px;
    width: 70px;
    aspect-ratio: 1 / 1;
    -webkit-user-drag: none;
    pointer-events: none;
}

.friend-card-options{
    top: 120px;
    right: -20px;
    position: absolute;
    display: flex;
    gap: 5px;
    background-color: rgba(36, 41, 39, 0.237);
    backdrop-filter: blur(8px);
    z-index: 100;
}

.friend-card-options button{
    font-size: 0.7rem;
    padding: 5px 0px;
    font-family: "Montserrat";
    background: none;
    cursor: pointer;
    width: 55px;
    background-color: white;
    border-radius: 20px;
}

.friend-card-options button:hover{
    background-color:rgba(255, 255, 255, 0.737);

}
.no-friends-profile{
    opacity: 0.4;
    border-bottom: 1px solid black;
    width: 100%;
    text-align: center;
}