#root:has(#user-page-container){

}
#user-page-container{
    display: grid;
    grid-template-columns: 1fr 3fr ;

}
.user-profile-head{
    background-color:#00171f ;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
 
}

.user-profile-body{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}
/* ---- */
.user-profile-head{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.245);
    border-top: none;
    border-right: none;
    padding: 20px 0px;
    gap: 20px;
    border-bottom-right-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.user-profile-head h3{
    font-family: "Roboto";
    font-weight: 500;
    font-size: 2.4rem;
    color: white;
}

.user-profile-head img{
    width: 50px;
}
.user-profile-more-info{

}
.user-profile-head p:nth-child(1){
    font-family: "Montserrat";
    margin-bottom: 5px;
}
.user-profile-head p:nth-child(2){
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
/* ---- */
.user-profile-left{
    border-right: 1px solid black;
    width: 100%;
}


.friend-list-user{
    min-width: 200px;
}

.friend-list-user > h4{
    font-family: "Roboto", serif;
}

/* ---- */

.user-profile-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5%;
}
.user-profile-body > p{
    font-size: 1.4rem;
    font-family: "Montserrat", serif;
}

.user-page-no-updates{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "roboto";
    font-size: 2rem;
    font-style: italic;
    opacity: 0.6;
}
.user-profile-update-div{
    position: relative;
    width: 100%;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding-top: 15px;
    overflow: hidden;
    color: black;
    border: 1px solid rgba(0, 0, 0, 0.167);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: 0.15s linear all;

}


/* this is actually in the profile page not user, absolute clusterfuck */
.up-author-div{
    position: absolute;
    top: 0;
    left: 0;
    width: fit-content;
    height: 60px;
    border-bottom-right-radius: 20px;
    user-select: none;
    display: flex;
    overflow: hidden;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    padding: 10px;
    transition: 0.2s linear all;
}
.up-author-div:hover{
    background-color: rgba(0, 0, 0, 0.07);
}
.up-author-div > img{
    width: 50px;
    border-radius:100px;
    aspect-ratio: 1 / 1;
}
.up-author-div > p{

    justify-self: center;
}
.user-profile-update-div > span{
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 3px 7px;
    border-bottom-left-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.198);
    border-left: none;
    border-top: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #d9d9d9;
    font-size: 0.9rem;
    text-shadow: 0px 0px 1px rgba(110, 110, 110, 0.355);
    background-color: #001f54;
}
.user-profile-update-div > h4{
    font-family: "Roboto", serif;
    font-weight: 500;
    padding: 3% 0;
  
    text-align: center;
    width: 100%;
    font-size: 1.3rem;
}
.up-comment-div{
    width: 100%;

}
.update-btn-comment-options{
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  
}

.update-btn-comment-btn-1{
    border-radius: 0px 20px 0px 0px;
}

.update-btn-comment-btn-2{
    border-radius: 0px 0px 0px 0px;
}

.update-btn-comment-options > button{
    width: 20%;
    padding: 7px 0px;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.206);
    background-color:#00171f;
    align-self: start;
    color: white;
    cursor: pointer;
    transition: all 0.2s linear;
    white-space: nowrap;
    min-width: 92px;

}
.update-btn-comment-options > button:hover{
    background-color: #c9c9c9;
    color: rgb(41, 41, 41);
}

@media screen and (max-width: 1300px) {
    .update-btn-comment-options > button{
        font-size: 0.6rem !important;
    }
}
.update-btn-comment-options form{
 
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;

}

.update-btn-comment-options form textarea{
        width: 40%;
        height: 80px;
        resize: none;
        padding: 5px;
        font-size: 1rem;
        font-family: 'Times New Roman', Times, serif;
        border-radius: 0 20px 0px 0;
}

.update-btn-comment-options > form button{
    width: 40%;
    border: 1px solid rgba(0, 0, 0, 0.578);

    cursor: pointer;
    padding: 5px 0px;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    user-select: none;



}

.up-comment-div{
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
}
.up-comment{
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.134);
    border-radius: 5px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
    gap: 5px;
    position: relative;
}
.up-comment h3{
    font-family: "Montserrat", serif;
    display: flex;
    gap: 5px;
    font-size: 1.2rem;
}
.up-comment h3 span:nth-child(1){
    font-family: "Roboto", serif;
    font-weight: 500;
}
.up-comment h3 span:nth-child(2){
    font-family: "Montserrat", serif;
    font-weight: 100;
    font-style: italic;
    font-size: 0.7rem;
}
.up-comment > p{

}

.up-comment form{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 3% 0;
    gap: 5px;

}
.up-comment form textarea{
    width: 80%;
    align-self: center;
    border-radius: 15px;
    padding: 5px;
    height: 60px;
    resize: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1rem;
}

.up-comment-btn-div{
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    opacity: 0.4;
    transition: opacity 0.2s linear;
    height: 100%;
  
}
.up-comment-btn-div button{
    border: none;
    padding: 3px 10px;
    cursor: pointer;
    transition: all 0.2s linear;
    border-radius: 20px;

}
.select-comment-div{
    opacity:0.8 !important;

}
.up-comment-btn-div button:nth-child(1){
   border: none;
   border-left: 1px solid rgba(0, 0, 0, 0.229);
   background-color: rgb(160, 160, 160);

}
.up-comment-btn-div button:nth-child(1):hover{
    background-color: white;

}
.up-comment-btn-div button:nth-child(2){
    background-color: rgba(197, 111, 111, 0.743);
    color: white;

}
.up-comment-btn-div button:nth-child(2):hover{
    background-color: rgba(199, 37, 37, 0.743);

}
.up-comment-btn-div button:hover{
    filter:drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.251))

}

.up-comment form{

}
.up-comment-btn-edit-div{
    display: flex;
    gap: 10px;
    justify-content:center;
}

.up-comment-btn-edit-div button{
   width: 80px;
   border-radius: 10px;
   padding: 5px 0px;
   border: none;
   font-family: "Roboto", serif;
   user-select: none;
   cursor: pointer;
}