@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Roboto:wght@300;900&display=swap');
/* 
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif; 
*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #fefcfb;
    
}
#root{
   
}
nav{
}
nav, nav button{
    font-family: "Montserrat", serif;

}