nav{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    transition: all 0.2s linear;
    background: #00171f;
}
.hide-nav{
    display: none;
}

#nav-links{
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    width: 60%;
    height: 100%;
    
}
.chat-nav-div{
    display: flex;
    align-items: center;
}

.nav-btn {
    font-family: "Montserrat", serif;
    border: 1px solid rgba(0, 0, 0, 0.46);
    cursor: pointer;
    font-size: 1rem;
    background: none;
    border: none;
    color: white;
    transition: 0.15s linear all;
    height: 100%;
    min-width: 100px ;
}
.nav-btn:hover{
    background-color: rgba(255, 255, 255, 0.15);
}
#auth-modal-container{
    position: relative;
}

#nav-logo{
    font-size: 1.4rem;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: bolder;
    text-align: start;
    width: 40%;
    color: rgb(46, 46, 46);
    user-select: none;
    color: white;
    cursor: pointer;
    padding-left: 2%;
    
}


@media screen and (max-width: 800px ) {
    nav{
        height: fit-content;
        display: flex;
        flex-direction: column;
        padding: 10px 0px;
        height: 90px;
        justify-content: center;
        align-items: center;

    }
    #nav-links{
        width: 100%;
        padding: 8px 0px;
    }
    #nav-logo{
        padding: 0;
    }

}