nav{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: all 0.3s linear;
}

nav:has(#auth-modal-container){
    padding-right: 20%;
}
#nav-links{
    display: flex;
    gap: 10px;
}
#auth-modal-container > button, #nav-links > button,#nav-links > div > button {
    padding: 10px 10px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.46);
    width: 130px;
    font-size: 0.8rem;
}

#auth-modal-container{
    position: relative;
}

#nav-logo{
    font-size: 1.4rem;
    text-shadow: 0px 0px 2px white;
    font-weight: bolder;
}