.chat-nav-div{
    position: relative;
}
#outer-chat-div{
    position: fixed;

    z-index: 990;
}
.drag-element{
    display: flex;
    justify-content: end;
    background-color: #003459;
    border-radius: 15px 15px 0px 0px;
    overflow: hidden;
    height: 28px;
    cursor: grab;
    user-select: none;
  
}
.drag-element:active{
    cursor: grabbing;
}
.drag-element > button{
    padding: 5px 8px;
    background-color: rgb(184, 126, 126);
    border: none;
    font-family: "Montserrat", serif;
    cursor: pointer;
}
#chat-box{
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.236);
    width: 400px;
    height: 400px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 0px 0px 20px 20px;

}
@media screen and (max-width: 800px ){
    #chat-box{
        top: 40px;
        left: -150px;
    }
}
#chat-box > input{
    width: 80%;
    padding: 10px;
    align-self: center;
    margin: 10px 0px;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.179);
    text-align: center;
    font-family: "Roboto", serif;
    font-size: 1.1rem;
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
#chat-box > input:focus{
    border: 1px solid rgba(0, 0, 255, 0.359)

}
.chat-box-friends-container{
    display: flex;
    flex-direction: column;
  
    height: 100%;
}

.chat-friend-card{
    display: grid;
    grid-template-columns: 1fr 5fr;
    width: 100%;
    align-items: center;
    padding: 2% 7%;
    cursor: pointer;
    transition: all 0.2s linear;
  border-bottom: 1px solid rgba(0, 0, 0, 0.09);

}
.chat-friend-card:nth-child(1){
  border-top: 1px solid rgba(0, 0, 0, 0.09);

}
.chat-friend-card:hover{
    background-color: rgba(43, 43, 43, 0.038);
    transform: scale(1.02);
}

.chat-friend-card > img{
    width: 30px;
    border-radius: 100px;
    aspect-ratio:  1 / 1;
}
.chat-friend-card > p{
    text-align: center;
    font-family: "Montserrat", serif;
}


/*  Chat room  */

.chat-room-div{
    position: absolute;
    z-index: 101;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: white;

}
.chat-room-inner{
    width: 100%;
    height: 100%;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-auto-rows: 1fr 5fr 1fr;
    justify-items: center;
    align-items: center;


}

.chat-room-inner > button{
    width: 60px;
    padding: 5px;
    font-family: 1.1rem;
    border: 1px solid rgba(0, 0, 0, 0.284);
    border-left: none;
    border-top: none;
    cursor: pointer;
    width: 100%;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    align-self: stretch;
    border-bottom: none;
    background-color: rgba(0, 0, 86, 0.117);
}

.chat-room-inner > p{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    cursor: pointer;
    padding: 15px;

}
.chat-room-inner > img{
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    width: 40px;
    aspect-ratio: 1 / 1;
    border-radius: 100px;
    cursor: pointer;

}

.chat-room-text-div{
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    border-top: 1px solid rgba(0, 0, 0, 0.204);
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    overflow: auto;
    gap: 10px;
    padding: 10px 0px;
}

.chat-room-inner form{
    grid-column: 1 / 4;
    grid-row: 3 / 4;
    display: grid;
    grid-template-columns: 4fr 1fr;
    align-self: stretch;
    justify-self: stretch;
}

.chat-room-inner form input{
    padding: 0px 8px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 0.1rem;
    font-weight: 500;
    font-size: 1.1rem;
    border: 1px solid rgba(0, 0, 0, 0.355);
    border-right: none;
    border-left: none;
    outline: none;
}

/* chat message */
.chat-room-inner{
    width: 100%;
    height: 100%;
    position: relative;
    background-color: white;
 
}
.chat-room-msg-div{
    position: relative;
    height: fit-content;
    width: 80%;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.user-msg{
    padding: 15px;
    align-self: end;
    white-space: pre-wrap;
    border-right: none;
    border-radius: 20px 0px 0px 20px;
    background-color: rgba(123, 123, 227, 0.355);
    padding-right: 5%;
    padding-left: 55px;

}
.not-user-msg{
    padding: 15px;
    border-radius: 0px 20px 20px 0px;
    background-color: rgba(0, 0, 0, 0.149);
    padding-right: 50px;

}
.chat-room-msg-div > span{
    position: absolute;
    font-size: 0.6rem;
    top: 0px;
    right: 40px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1px 2px;
    color: rgb(65, 65, 65);

}
.not-user-msg > span{
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    left: 40px;
    top: 0px;
    width: fit-content;
    
}
.chat-room-msg-div img{
    position: absolute;
    width: 35px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    aspect-ratio: 1 / 1;
    border-radius: 100px;
    position: absolute;
    top: 7px;
    -webkit-user-drag: none;
}

.user-msg img{
    left: 10px;

}

.not-user-msg img{
    right: 10px;

}



.chat-room-text{

 
}
.chat-time-info{
    position: absolute;
    text-align: center;
    top: 0;
    color: rgb(0, 0, 0);
    font-size: 0.7rem;
    user-select: none;
    background-color: rgba(0, 0, 0, 0.312);
    padding: 0px 4px;

}

.user-msg .chat-time-info{
    right: 0px;
    border-bottom-left-radius: 5px;

}

.not-user-msg .chat-time-info{
    left: 0;
    border-bottom-right-radius: 5px;

}


#scroll-ref{
    height: 10px;
    padding: 0;
    bottom: 0;

}